.action-bar {
  background-color: white;
  transition: 0.3s ease-in-out transform;
}

.action-bar--scrolling-up {
  transform: translateY(0);
}

.action-bar--scrolling-down {
  transform: translateY(100%);
}

.action-bar__container {
  position: fixed;
  bottom: 0;
  left: 0;
}